<!DOCTYPE html>
<html>
<head>
<title>Bootstrap 101 Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
</body>
<iframe src="<%= @url %>" width="1000" height="1000" frameborder="0" scrolling="no">
  <script>window.parent.location.href='http://192.168.0.108:8080';</script>
  <p>Your browser does not support iframes.</p>
</iframe>
</html
